.card-descuento {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin: auto;
  border-radius: 12px;
  border: 2px solid #D97904;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #000000;
  font-family: 'Lora', serif;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.tarjeta-descuento:hover {
  transform: scale(1.02);
}

.img-descuento {
  width: 100%;
  height: 180px;
  object-fit: cover;
  padding: 8px;
  border-radius: 2vh;
  overflow: hidden;
  display: block;
}

.cuerpo-descuento {
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.85rem;
}

.titulo-descuento {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.ml-descuento {
  font-size: 0.85rem;
  margin: 0;
}

.precio-desc {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000000;
}

.precio-original-desc {
  text-decoration: line-through;
  color: #888;
  font-size: 1rem;
  margin-bottom: 0;
}

.precio-descuento-desc {
  color: #c10000;
  font-weight: bold;
  font-size: 1.3rem;
}

.etiqueta-descuento-desc {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #c10000;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 6px;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cont-botones-desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.btn-agregar-desc {
  background-color: #000000;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.btn-agregar-desc:hover {
  background-color: #FBCD99;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay-agotado-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 1;
  border-radius: 12px;
}
